<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
	<div th:fragment="step4">
		<div class="row" id="tab4" style="display: none;">
			<br/>
			<div class="col">
				<br/>
				<div class="row justify-content-start">
			    	<div class="col-10">
				    	<div class="card-counter primary">
				        	<i style="opacity: 0.3" class="fas fa-th-list fa-3x"></i>
				        	<span class="count-numbers" id="processing_4">0 - 0</span>
				        	<span class="count-name" id="status_4"></span>
				      	</div>
				    </div>
			    
					<div class="col-10">
				    	<div class="card-counter success">
				        	<i style="opacity: 0.3" class="fas fa-thumbs-up fa-3x"></i>
				        	<span class="count-numbers" id="success_4">0</span>
				        	<span class="count-name">Success</span>
				      	</div>
				    </div>
				</div>
			</div>
			
			<div class="col">
		    	<div class="row justify-content-center">
				    
			   	</div>
			</div>
		    
		    <div class="col">
		    	<br/>
		    	<div class="row justify-content-end">
				    <div class="col-10">
				    	<div class="card-counter warning">
				        	<i style="opacity: 0.3" class="fas fa-exclamation-triangle fa-3x"></i>
				        	<span class="count-numbers" id="fail_4">0</span>
				        	<span class="count-name">Fail</span>
				      	</div>
				    </div>
				    
				     <div class="col-10">
				    	<div class="card-counter danger">
				        	<i style="opacity: 0.3" class="fas fa-times fa-3x"></i>
				        	<span class="count-numbers" id="error_4">0</span>
				        	<span class="count-name">Error</span>
				      	</div>
				    </div>
			   	</div>
			</div>
			<div class="col-12">
				<br/><br/>
				<div class="progress" style="height: 1px;">
							<div 
								id="progress-value4"
								class="progress-bar" 
								role="progressbar" 
								style="width: 0%;" 
								aria-valuenow="0" 
								aria-valuemin="0" 
								aria-valuemax="100"></div>
				</div>
				<div class="progress" style="height: 20px; margin-top: 2px;">
							<div 
								id="progress-bar4"
								class="progress-bar" 
								role="progressbar" 
								style="width: 0%;" 
								aria-valuenow="25" 
								aria-valuemin="0" 
								aria-valuemax="100"></div>
				</div>
			</div>
			<div class="col-12">
				<br/><br/>
				<button id="eainformation4" class="btn btn-primary btn-sm">Start</button>
				<button class="btn btn-secondary btn-sm prep-step" title="4">Previous</button>
			</div>
		</div>
	</div>
</body>
</html>