<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<head th:replace="resources/commons :: head"></head>
</head>
<body>
	<div class="container-fluid eai">
		<div class="row">
			<div class="col eai-menu">
				<div th:replace="resources/menu :: menu"></div>
			</div>
			<div class="col eai-body">
				<div class="col eai-head-1 flexcroll">
					<div class="row">
						<div class="col">
							<form th:action="@{/searchlogerror}" method="post" modelAttribute="Pagination" autocomplete="off" id="formSearch">
								<table class="table table-sm">
									<tbody>
										<tr>
											<td colspan="3">
												<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
													<div id="search" class="btn-group btn-group-sm mr-2" role="group">
														<button type="button" class="btn btn-primary">
															<i class="fas fa-search"></i>
														</button>
													</div>
													<div class="btn-group btn-group-sm mr-2" role="group">
														<a href="/eai/logerror" type="button" class="btn btn-primary">
															<i class="fas fa-trash-alt"></i>
														</a>
													</div>
													<div class="btn-group btn-group-sm mr-2" role="group">
														<input type="hidden" id="page" name="page" th:value="${pagination.page}"/>
				        								<input type="hidden" id="size" name="size" th:value="${pagination.size}"/>
														<button id="firstPage" type="button" class="btn btn-primary">
															<i class="fas fa-angle-double-left"></i>
														</button>
														<button id="prev" type="button" class="btn btn-primary">
															<i class="fas fa-angle-left"></i>
														</button>
														<button type="button" class="btn btn-primary">
															<i class="fas fa-ellipsis-v"></i>
														</button>
														<button id="next" type="button" class="btn btn-primary">
															<i class="fas fa-angle-right"></i>
														</button>
														<button id="lastPage" type="button" class="btn btn-primary">
															<i class="fas fa-angle-double-right"></i>
														</button>
													</div>
												</div>
											</td>
											<td colspan="2" class="text-right">
												<span th:if="${pagination.length > 0}"
													class="badge badge-primary"
													th:text="#{items(${pagination.size}, ${pagination.page})}">
												</span>
												<div th:replace="resources/messages :: message"></div>
											</td>
										</tr>
										<tr>
											<td colspan="5" style="padding-top: 20px;"></td>
										</tr>
										<tr>
											<th width="8%" scope="row">
												<input 
													class="form-control form-control-sm" 
													type="text" 
													name="logError.idLogError"
													th:placeholder="#{5_n}"
													th:value="${pagination.logError.idLogError}"/>
											</th>
											<td width="38%">
												<input 
													class="form-control form-control-sm" 
													type="text" 
													name="logError.error"
													th:placeholder="#{5_error}"
													th:value="${pagination.logError.error}"/>
											</td>
											<td width="18%">
												<input 
													class="form-control form-control-sm" 
													type="text" 
													name="logError.userName"
													th:placeholder="#{5_userName}"
													th:value="${pagination.logError.userName}"/>
											</td>
											<td width="18%">
												<input 
													class="form-control form-control-sm" 
													type="text" 
													name="logError.path"
													th:placeholder="#{5_path}"
													th:value="${pagination.logError.path}"/>
											</td>
											<td width="18%">
												<input 
													class="form-control form-control-sm datepicker" 
													type="text" 
													name="logError.date"
													th:placeholder="#{5_date}"
													th:value="${pagination.logError.date}"/>
											</td>
										</tr>
									</tbody>
								</table>
							</form>
						</div>
					</div>
				</div>
				<div class="col eai-main-1 flexcroll">
					<div class="row">
						<div class="col">
							<table class="table table-sm">
								<tbody>
									<tr th:each="l : ${pagination.logErrorList}">
										<th width="8%" scope="row">
											<input class="form-control form-control-sm ellipsis" disabled="disabled" th:value="${l.idLogError}">
										</th>
										<td width="38%">
											<input class="form-control form-control-sm ellipsis" disabled="disabled" th:value="${l.error}">
										</td>
										<td width="18%">
											<input class="form-control form-control-sm ellipsis" disabled="disabled" th:value="${l.userName}">
										</td>
										<td width="18%">
											<input class="form-control form-control-sm ellipsis" disabled="disabled" th:value="${l.path}">
										</td>
										<td width="18%">
											<input class="form-control form-control-sm ellipsis" disabled="disabled" th:value="${l.date}">
										</td>
									</tr>
									<tr th:if="${pagination.length == 0}">
										<td colspan="5" class="text-center">
											<span 
												class="badge badge-primary"
												th:text="#{noSearchResultFound}">
											</span>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div th:replace="logerror_modal :: modal"></div>
	
	<div th:replace="resources/commons :: scripts"></div>
</body>
</html>