<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
	<div th:fragment="modal">
		<div class="modal fade bd-example-modal-lg" data-backdrop="static" id="systemparametersModal">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" th:text="${transactionPage.title}"></h5>
				        <button type="button" class="close closeButton" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
					</div>
					<div class="modal-body">
						<br/>
						<div class="row justify-content-center">
							<div class="col-3">
								<label 
									class="col-form-label" 
									th:text="#{5_userName}"
									th:title="#{5_userName}" 
									data-toggle="popover" 
									th:data-content="#{5_tooltipUserName}"></label>
							</div>
							<div class="col-6">
								<div class="required-field-block">
									<input 
										type="text" 
										class="form-control form-control-sm"
										readonly="readonly"/>
								</div>
							</div>
						</div>
						
						<br/>
						<div class="row justify-content-center">
							<div class="col-3">
								<label 
									class="col-form-label" 
									th:text="#{3_value}"
									th:title="#{3_value}" 
									data-toggle="popover" 
									th:data-content="#{3_tooltipValue}"></label>
							</div>
							<div class="col-6">
								<div class="required-field-block">
									<input 
										type="text" 
										class="form-control form-control-sm"
										id="value"/>
									<div class="required-icon" th:data-content="#{requiredField}">
						                <div class="text">*</div>
						            </div>
								</div>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-3"></div>
							<div class="col-6">
								<span class="badge badge-danger" id="valueError"></span>
							</div>
						</div>
						
						<br/>
						<div class="row justify-content-center">
							<div class="col-3">
								<label 
									class="col-form-label" 
									th:text="#{3_description}"
									th:title="#{3_description}" 
									data-toggle="popover" 
									th:data-content="#{3_tooltipDescription}"></label>
							</div>
							<div class="col-6">
								<div class="required-field-block">
									<textarea id="description" style="resize: none; min-width: 100%; min-height: 70px;"></textarea>
									<div class="required-icon" th:data-content="#{requiredField}">
						                <div class="text">*</div>
						            </div>
								</div>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-3"></div>
							<div class="col-6">
								<span class="badge badge-danger" id="descriptionError"></span>
							</div>
						</div>
						
						<br/>
						<div class="row justify-content-center">
							<div class="col-3">
								<label 
									class="col-form-label" 
									th:text="#{3_type}"
									th:title="#{3_type}" 
									data-toggle="popover" 
									th:data-content="#{3_tooltipType}"></label>
							</div>
							<div class="col-6">
								<div class="required-field-block">
									<input 
										type="text" 
										class="form-control form-control-sm"
										id="type"
										readonly="readonly"/>
								</div>
							</div>
						</div>
						
						<br/>
						<div class="row justify-content-center">
							<div class="col-3">
								<label 
									class="col-form-label" 
									th:text="#{3_userName}"
									th:title="#{3_userName}" 
									data-toggle="popover" 
									th:data-content="#{3_tooltipUserName}"></label>
							</div>
							<div class="col-6">
								<div class="required-field-block">
									<input 
										type="text" 
										class="form-control form-control-sm"
										id="userName"
										readonly="readonly"/>
								</div>
							</div>
						</div>
										
						<br/>
						<div class="row justify-content-center">
							<div class="col-3">
								<label 
									class="col-form-label" 
									th:text="#{3_date}"
									th:title="#{3_date}" 
									data-toggle="popover" 
									th:data-content="#{3_tooltipDate}"></label>
							</div>
							<div class="col-6">
								<div class="required-field-block">
									<input 
										type="text" 
										class="form-control form-control-sm"
										id="date"
										readonly="readonly"/>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button class="btn btn-secondary btn-sm closeButton" th:text="#{3_close}"></button>
						<button class="btn btn-primary btn-sm update event" type="button" th:text="#{3_update}">Update</button>
					</div>
				</div>
			</div>
		</div>	
	</div>
</body>
</html>