<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title></title>
	<head th:replace="resources/commons :: head"><title></title></head>
	<link rel="stylesheet" th:href="@{/assets/css/singin.css}"/>
</head>
<body class="flexcroll">
	<div class="container-fluid eai">
		<div class="row">
			<div class="col eai-menu-2">
				<div class="row justify-content-end">
					<div class="col-11">
						<div th:replace="resources/messages :: message"></div>
					</div>
					<div class="col-1">
						<div th:replace="resources/menu :: language"></div>
					</div>
				</div>
			</div>
			<div class="eai-body">
				<div class="eai-main">
					<div class="col">
					 	<div class="row justify-content-center">
							<div class="col-5 formContent">
								<div class="fadeIn first">
									<img src="../eai/assets/images/user.jpg" id="icon" alt="User Icon" />
								</div>
						
								<div class="row justify-content-center">
									<form th:action="@{/signin}" method="post">
										<input  type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
										
						    			<input type="text" class="form-control form-control-sm" name="username" th:placeholder="#{1_userName}"/>
							      		<input type="password" class="form-control form-control-sm" name="password" th:placeholder="#{1_password}"/>
							      		
										<div class="row justify-content-center">
											<div class="col-6">
										  		<input type="submit" class="btn btn-primary btn-sm btn-block" name="signin" th:value="#{1_signIn}"/>
										  	</div>
										</div>
								   	</form>
								</div>
								
								<div class="formFooter">
									<label th:text="#{1_donNotHaveAccount}"> </label> <a class="event" href="/eai/signup" th:text="#{1_SignUpHere}"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
   	
   	<div th:replace="resources/commons :: scripts"></div>
</body>
</html>