<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head> 
<body>
	<div th:fragment="menu">
		<nav class="navbar header-top fixed-top navbar-expand-lg navbar-dark bg-dark">
			<span class="navbar-toggler-icon leftmenutrigger"></span>
			<a class="navbar-brand"  href="#"><b>EAinformation</b></a>
			<button class="navbar-toggler" type="button" 
					data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
	        		aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav animate side-nav">
					<li class="nav-item dropdown" th:each="parentMenu : ${tp.parentMenuList}">
		        		<a class="nav-link dropdown-toggle" 
		        		   href="#" id="navbarDropdown" 
		        		   role="button" 
		        		   data-toggle="dropdown" 
		        		   aria-haspopup="true" 
		        		   aria-expanded="false">
		          			<i class="fas fa-user"></i>
		          			<span th:text="${parentMenu.menuName}"></span>
		          			<i class="far fa-user shortmenu animate"></i>
		        		</a>
		        		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
		          			<a th:each="menu : ${parentMenu.menuList}" 
		          			   th:text="${menu.menuName}"
		          			   th:href="'/eai__${menu.urlName}__'" 
		          			   class="dropdown-item">Action</a>
		          		</div>
		      		</li>
		        </ul>
		        <ul class="navbar-nav">
				   <li class="nav-item active">
				     <a class="nav-link" href="" th:text="${tp.title}">Home</a>
				   </li>
				 </ul>
		        <ul class="navbar-nav ml-md-auto d-md-flex">
	         		<li class="nav-item">
	           			<a class="nav-link" href="#">
	           				<i class="far fa-user"></i>
	           				<span th:text="${tp.userName}"></span>
	           			</a>
	         		</li>
	         		<li class="nav-item">
	           			<a class="nav-link" href="/eai/logout">
	           				<i class="fas fa-power-off"></i>
	           			</a>
	         		</li>
	       		</ul>
			</div>
		</nav>
	</div>
	
	<div th:fragment="language">
		<div class="flag-en flag-en" id="en"></div>
		<div class="flag-co flag-co" id="es"></div>
	</div>
	
</body>
</html>