<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head> 
<body>
	<div th:fragment="message">
		<div th:if="${messagesResponse != null}">			
			<span th:if="${messagesResponse.status == 'LF'}" class="badge badge-danger" th:text="#{1_incorrectSignin}"></span>
			
			<span th:if="${messagesResponse.status == 'F'}" class="badge badge-danger" th:text="#{errorMessage}"></span>
			<span th:if="${messagesResponse.status == 'E'}" class="badge badge-danger" th:text="#{internalError(${messagesResponse.code})}">
			</span>
			<span th:if="${messagesResponse.status == 'S'}" class="badge badge-success" th:text="#{successful}"></span>
		</div>
	</div>

	<!-- Modal -->
	<div th:fragment="modal">
		<div class="modal fade" data-backdrop="static" id="error">
			<div class="modal-dialog" role="document">
				<div class="modal-content panel-warning">
					<div class="modal-header">
		               <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
		            </div>
					<div class="modal-body" th:if="${messagesResponse != null}">
			        	
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>