<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head> 
<body>
	<div th:fragment="message">
		<div th:if="${messagesResponse != null}">			
			<span th:if="${messagesResponse.status == 'LF'}" class="badge badge-danger" th:text="#{1_incorrectSignin}"></span>
			
			<span th:if="${messagesResponse.status == 'F'}" class="badge badge-danger" th:text="#{errorMessage}"></span>
			<span th:if="${messagesResponse.status == 'E'}" class="badge badge-danger" th:text="#{internalError(${messagesResponse.code})}"></span>
			<span th:if="${messagesResponse.status == 'S'}" class="badge badge-success" th:text="#{successful}"></span>
		</div>
			
		<span id="F" class="badge badge-danger"></span>
		<span id="E" class="badge badge-danger"></span>
		<span id="S" class="badge badge-success"></span>
	</div>
	
	<!-- Modal load -->
	<div th:fragment="modalLoad">
		<div class="load" id="modalLoad" style="display: none;">
			<div class="loader">
   				<div class="face face1">
       				<div class="circle"></div>
       			</div>
   				<div class="face face2">
       				<div class="circle"></div>
   				</div>
			</div>
		</div>
	</div>
	<!-- End modal load -->
	
	
</body>
</html>