<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="resources/commons :: head">
	<title></title>
</head>
<body class="flexcroll">
	<div class="container-fluid eai">
		<div class="row">
			<div class="col eai-menu-1">
				<div th:replace="resources/menu :: menu"></div>
			</div>
			<div class="col eai-body">
				<div class="col eai-head-2">
					<div class="row">
						<div class="col">
							<div class="row justify-content-end">
								<div class="col-11">
									<div th:replace="resources/messages :: message"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col eai-main-2">
					<div class="container">
						
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="resources/commons :: scripts"></div>
</body>
</html>