<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf_header" th:if="${transactionPage != null}" th:content="${transactionPage.headerName}"/>
	<meta name="csrf" th:if="${transactionPage != null}" th:content="${transactionPage.token}"/>
    
    <link rel="stylesheet" th:href="@{/assets/resources/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/resources/datetimepicker/css/bootstrap-datetimepicker.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/menu.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/commons.css}"/>
    
    <title>EAinformation</title>
</head> 
<body>
	<div th:fragment="scripts">
		<div th:replace="resources/messages :: modalLoad"></div>
		<script type="text/javascript" th:src="@{/assets/resources/popper/popper.min.js}"></script>
	    <script type="text/javascript" th:src="@{/assets/resources/jquery/jquery.min.js}"></script>
	    <script type="text/javascript" th:src="@{/assets/resources/bootstrap/js/bootstrap.min.js}"></script>
	    <script type="text/javascript" th:src="@{/assets/resources/fontawesome/all.min.js}"></script>
	    
	    <script type="text/javascript" th:src="@{/assets/resources/datetimepicker/js/moment.min.js}"></script>
	    <script type="text/javascript" th:src="@{/assets/resources/datetimepicker/js/bootstrap-datetimepicker.min.js}"></script>
	    <script type="text/javascript" th:src="@{/assets/js/commons.js}"></script>
	    <script th:inline="javascript">
	    	/*<![CDATA[*/
	    		var header = $("meta[name='csrf_header']").attr("content");
				var token = $("meta[name='csrf']").attr("content");
				
				var errorMessage = /*[[#{errorMessage}]]*/ 'default';
	    		var internalError = /*[[#{internalError}]]*/ 'default';
	    		var successful = /*[[#{successful}]]*/ 'default';
			/*]]>*/
			
			function messages(response) {
				$('#F, #E, #S').text('');
				
				switch (response.status) {
					case 'F':
						var f = $('#F');
						f.text(errorMessage);
					break;
					case 'E':
						var e = $('#E');
						internalError = internalError.replace('{0}', response.code);
						e.text(internalError);
					break;
					case 'S':
						var s = $('#S');
						s.text(successful);
					break;
				}
				
				if(response.errors){
					for (var i = 0; i < response.errors.length; i++) {
						$('#'+response.errors[i].field.replace('.','')+"Error").text(response.errors[i].code);
    				}
    			}
			}
	    </script>
	</div>
</body>
</html>